@model IEnumerable<FA.JustBlog.Core.Models.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <div class="card mb-4">
            <div class="card-body">
                <td><a class="btn btn-primary" asp-action="Create" asp-controller="AdminPost">New</a></td>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                All posts
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Title)</th>
                            <th>@Html.DisplayNameFor(x => x.ShortDescription)</th>
                            <th>@Html.DisplayNameFor(x => x.Published)</th>
                            <th>@Html.DisplayNameFor(x => x.PostedOn)</th>           
                            <th>@Html.DisplayNameFor(x => x.RateCount)</th>          
                            <th>@Html.DisplayNameFor(x => x.ViewCount)</th>          
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <span class="d-inline-block text-truncate" style="max-width: 250px;">
                                    @item.Title
                                    </span>
                                </td>
                                <td>
                                    <span class="d-inline-block text-truncate" style="max-width: 250px;">
                                        @item.ShortDescription
                                    </span>
                                </td>
                                <td>@item.Published</td>
                                <td>@item.PostedOn</td>
                                <td>@item.RateCount</td>
                                <td>@item.ViewCount</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="AdminPost" asp-route-id="@item.PostId" class="btn btn-primary" type="submit" asp-for>Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-controller="AdminPost" asp-route-id="@item.PostId" class="btn btn-warning">Details</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-controller="AdminPost" asp-route-id="@item.PostId" class="btn btn-danger" type="submit">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
